<div class="row mt-5">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <form action="/newpassword" method="post">
            <div class="ml-5 mt-5">
                <h3>Edit Password</h3>
                {{#if wrongpassword}}
                <P style="color: red;"> incorrect current password</P>
                {{/if}}
            </div>
            <div class="col-md-6 col-12 mt-5"><label class="labels">current password</label><input type="text"
                    class="form-control" name="currentpassword"></div>

            <div class="col-md-6 col-12"><label class="labels">new password</label><input type="text"
                    class="form-control" name="newpassword"></div> <br>
            <div class="col-md-6 col-12"><label class="labels">confirm password</label><input type="text"
                    class="form-control" name="confirmpassword"></div>
            <button class="btn btn-success btn-md  mt-5 ml-3" style="width: 100px;"
                                type="submit">Edit</button>

        </form>
    </div>
    <div class="col-md-3">

    </div>
</div>