<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Car<span>-Zy</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
         {{!-- <li class="nav-item"><a href="about.html" class="nav-link"></a></li> --}}
       {{!-- <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li> --}}
        <li class="nav-item"><a href="/allcars" class="nav-link">All Cars</a></li>
        {{!-- <li class="nav-item"><a href="/carslistpage" class="nav-link"></a></li> --}}
        {{!-- <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> --}}
        {{!-- <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> --}}
        <li class="nav-item">{{#if loggedIn}}
          <div class="btn-group py-2">
  
  <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" style="color:rgb(0, 195, 255);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{userdetails.username}}
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/userprofile">profile</a>
    <a class="dropdown-item" href="/upcomingrides">my rides</a>
    {{!-- <a class="dropdown-item" href="#">logout</a> --}}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/logout">logout</a>
  </div>
</div>
          {{else}}
          <a href="/loginpage" class="nav-link">Login</a>
          {{/if}}
        </li>
        
      </ul>
    </div>
    {{!-- <form class="dropdown flex-c-m  p-lr-25 form-inline">
      <button class="dropdown-toggle btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="dropdown">My
        Account
        <span class="caret"></span></button>
      <ul class="dropdown-menu btn btn-outline-success my-2 my-sm-0" style="text-align: center;">
        {{#if loggedIn}}
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/loginpage">Login</a></li>
        {{/if}}

      </ul>
  </div>
  </form> --}}
</nav>
<div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
      <div class="col-lg-8 ftco-animate">
        <div class="text w-100 text-center mb-md-5 pb-md-5">
          <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
          <p style="font-size: 18px;">
              Do you long to explore India’s cultural attractions and natural wonders with freedom? Then you’ve come to the right place. 
              Car-Zy offers premium Car rentals in India,
          </p>


          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12	featured-top">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex align-items-center">
            <form action="/carslist" method="post" id="searchcar" class="request-form1 ftco-animate bg-primary" style="color: white; font-size: x-small;">
              <h2>Make your trip</h2>
             	<div class="form-group ">
			    					<label for="" class="label">Pick-up location</label>
			    					<select type="text" class="form-control" name="location">
          <option value="calicut" style="color: black;">calicut</option>
          <option value="malappuram" style="color: black;">malappuram</option>
          </select>
			    				</div>
			    				<div class="d-flex">
			    					<div class="form-group mr-2">
			                <label for="" class="label">Pick-up date</label>
			                <input type="date" class="form-control" id="pick_date" placeholder="Date" name="pickupDate" onclick="date_pick()">
			              </div>
                    <div class="form-group">
		                <label for="" class="label">Pick-up time</label>
		                <input type="time" class="form-control timepicker" id="pickuptime" placeholder="Time" name="pickuptime" onchange="picktime()" disabled>
		              </div>
                  </div>
                  <div class="d-flex">
			              <div class="form-group mr-2">
			                <label for="" class="label">Drop-off date</label>
			                <input type="date" class="form-control" id="drop_date" placeholder="Date" name="dropoffDate" onclick="dropdate_pick()" disabled>
			              </div>
                      <div class="form-group">
		                <label for="" class="label">Drop-off time</label>
		                <input type="time" class="form-control timepicker" id="dropofftime" placeholder="Time" name="dropofftime" onchange="droptime()" disabled>
		              </div>
                  </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary py-3 px-4">Rent A Car Now </button>
              </div>
            </form>
          </div>
          <div class="col-md-8 d-flex align-items-center">
            <div class="services-wrap rounded-right w-100">
              <h3 class="heading-section mb-4 ml-5">Better Way to Rent Your Perfect Cars</h3>
              <div class="row d-flex mb-4">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span
                        class="flaticon-route"></span></div>
                    <div class="text w-100">
                      <h3 class="heading mb-2 ml-3">Choose Your Pickup Location</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span
                        class="flaticon-handshake"></span></div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Select the Best Deal</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                  <div class="services w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center"><span
                        class="flaticon-rent"></span></div>
                    <div class="text w-100">
                      <h3 class="heading mb-2">Reserve Your Rental Car</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="ftco-section ftco-about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
        style="background-image: url(images/about.jpg);">
      </div>
      <div class="col-md-6 wrap-about ftco-animate">
        <div class="heading-section heading-section-white pl-md-5">
          <span class="subheading">About us</span>
          <h2 class="mb-4">Welcome to Car-Zy</h2>

          <p>Do you long to explore India’s cultural attractions and natural wonders with freedom? Then you’ve come to the right place.
             Car-Zy offers premium Car rentals in India, including the latest models and high-quality vehicles at low prices.
             Plus, all our rentals come with unlimited mileage, so you can see as much as you want.</p>
          <p>Our summer and winter car rental exudes adventure and is the perfect way for families and 
            friends who want to explore India in their own time, budget and way. Our offers include a variety of vehicles:
             SUVs, 4x4s, 4x4 campers with roof tent option, campervans, family cars.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Services</span>
        <h2 class="mb-3">What include in our prices</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span>
          </div>
          <div class="text w-100">
            <h3 class="heading mb-2">Personal service</h3>
            <p> are committed to offering the best quality 4x4 vehicles at reasonable rates,
               and we believe in personal service based on building relationships with each of our customers.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span
              class="flaticon-transportation"></span></div>
          <div class="text w-100">
            <h3 class="heading mb-2">unlimited mileage</h3>
            <p>With all our hire car you have unlimited mileage. So you won't be charged per mile while travelling around Iceland. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
          <div class="text w-100">
            <h3 class="heading mb-2">We are always open</h3>
              <p>We are open <strong> 24/7 </strong> at our KEF Airport offices. We also provide 24/7 Road Assistance. </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="services services-2 w-100 text-center">
          <div class="icon d-flex align-items-center justify-content-center"><span
              class="flaticon-transportation"></span></div>
          <div class="text w-100">
            <h3 class="heading mb-2">Whole City Tour</h3>
            <p>Hiring our car gives you freedom - the freedom to do what you want and when you want.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>








{{!-- <section class="ftco-counter ftco-section img bg-light" id="section-counter">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="60">0</strong>
            <span>Year <br>Experienced</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="1090">0</strong>
            <span>Total <br>Cars</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="2590">0</strong>
            <span>Happy <br>Customers</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18">
          <div class="text d-flex align-items-center">
            <strong class="number" data-number="67">0</strong>
            <span>Total <br>Branches</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Information</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">About</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
            <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
            <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
            <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Customer Support</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">FAQ</a></li>
            <li><a href="#" class="py-2 d-block">Payment Option</a></li>
            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
            <li><a href="#" class="py-2 d-block">How it works</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San
                  Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
            target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>

<script>
function date_pick(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
     {{!-- alert(maxDate);  --}}
    $('#pick_date').attr('min', maxDate);
   
    document.getElementById('pickuptime').removeAttribute("disabled")
  
};

function dropdate_pick(){
    var dtToday = document.getElementById("pick_date").value  
    var dropdate = new Date(dtToday)
    {{!-- alert(dropdate) --}}

    var month = dropdate.getMonth() + 1;
    var day = dropdate.getDate() + 1;
    var year = dropdate.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;

    let pickedtime = document.getElementById("pickuptime").value
    console.log(pickedtime)
  {{!-- alert(dtToday);  --}}
    $('#drop_date').attr('min', maxDate);
  document.getElementById('dropofftime').removeAttribute("disabled")
};


function picktime(){

  let dtToday = new Date()
  let day = dtToday.getDate()
  let month = dtToday.getMonth() + 1
  let year = dtToday.getFullYear()
  let hour = dtToday.getHours()
  let minute = dtToday.getMinutes()

  if(month < 10) month = '0' + month.toString();
  if(minute < 10) minute = '0' + minute.toString();
  if(hour < 10) hour = '0' + hour.toString();

    var timenow = hour + ':' + minute
    let today = year + '-' + month + '-' + day;    

    let pickeddate = document.getElementById("pick_date").value
    
    
    {{!-- alert(timenow)
    alert(pickeddate)
    console.log(pickeddate)
    alert(today)
    console.log(today) --}}
    
    let pickedtime = document.getElementById("pickuptime").value
   
    if(pickeddate == today){

       if(pickedtime<timenow){
         document.getElementById("pickuptime").value=null

       } 

      {{!-- var time = dtToday.getHours()
      $('#pickuptime').attr('min', time); --}}

    }
    
  
 document.getElementById('drop_date').removeAttribute("disabled")

 
};

function droptime(){

  let pickeddate = document.getElementById("pick_date").value
  {{!-- alert(pickeddate) --}}
  
  let date =new Date(pickeddate) 

  let day = date.getDate() + 1
  let month = date.getMonth() + 1
  let year = date.getFullYear()


  if(month < 10) month = '0' + month.toString();
  if(day < 10) day = '0' + day.toString();
  


  let pickday = year + '-' + month + '-' + day;

    
    let dropdate = document.getElementById("drop_date").value
    
    
{{!--     
    alert("picking"+pickday)
 
    alert(dropdate) --}}
  
    let picktime = document.getElementById("pickuptime").value
    let dropingtime = document.getElementById("dropofftime").value

    {{!-- alert(picktime)

    alert(dropingtime) --}}

    
   
    if(pickday == dropdate){
        {{!-- alert("awawaw") --}}
       if(dropingtime<picktime){
         document.getElementById("dropofftime").value=null

       } 

      {{!-- var time = dtToday.getHours()
      $('#pickuptime').attr('min', time); --}}

    }

}
</script>

<script src="/javascripts/searchcars.js"></script>