<section class="vh-100 gradient-custom" style="background-image: url(/images/asd1.jpg); background-size: 225vh; background-repeat: no-repeat;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5" >
                <div class="card " style="border-radius: 1rem; background-color: rgba(0, 0, 0, 0.274);">
                    <div class="card-body pl-5 pr-5 text-center" >
                        <form action="userloginotp" method="post" id="userLogin">
                            <div class="mb-md-3 mt-md-4 ">

                                <h2 class="fw-bold mb-2 text-uppercase" style="color: white;">LOGIN</h2>
                                {{#if invalidnumber}}
                                    <p style="color: red;">Enter a valid mobile number</p>
                                {{/if}}
                                <div class="form-outline form-white mb-3 mt-5">
                                    <label class="form-label mt-2" for="typeEmailX"><b style="color: white;">Mobile number</b></label>
                                    <input type="text" id="typeEmailX" class="numbers form-control-lg" minlength="10" maxlength="10" 
                                        name="mobileNumber" style="border-radius: 100px; background:transparent; color: white; width: 350px;">
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5 mt-4" style="width: 200px;"type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.numbers').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
</script>