<section class="vh-100 gradient-custom" style="background-image: url(/images/asd1.jpg); background-size: 225vh; background-repeat: no-repeat;">
    <div class="container  h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card " style="border-radius: 1rem; background-color: rgba(0, 0, 0, 0.274);">
                    <div class="card-body pl-5 pr-5 ">
                        <form action="usersignup" method="post" id="signup" style="color: white;">
                            <div>

                                <h2 class="fw-bold mb-1 text-uppercase" style="color: white;">SIGNUP</h2>
                                <div class="form-outline form-white mb-3 mt-2">
                                    <label class="form-label mt-2"><b style="color: white;">Username</b></label>
                                    <input type="text" id="typeEmailX" class=" form-control-lg"
                                        name="username" style="border-radius: 100px; background:transparent; color: white; width: 350px;">
                                </div>

                                <div class="form-outline form-white mb-1">
                                    <label class="form-label mt-2" for="typeEmailX"><b style="color: white;">Email</b></label><br>
                                    <input type="email" id="typePasswordX" class=" form-control-lg"
                                        name="email" style="border-radius: 100px; background:transparent; color: white; width: 350px;">
                                </div>
                                <div class="form-outline form-white mb-1">
                                    <label class="form-label mt-2" for="typePasswordX"><b style="color: white;">Password</b></label>
                                    <input type="password" id="spassword" class=" form-control-lg"
                                        name="password" style="border-radius: 100px; background:transparent; color: white; width: 350px;">
                                </div>
                                <div class="form-outline form-white mb-1">
                                    <label class="form-label mt-2" for="typePasswordX"><b style="color: white;">confirm Password</b></label>
                                    <input type="password" id="confirmpassword" class=" form-control-lg"
                                        name="confirmPassword" style="border-radius: 100px; background:transparent; color: white; width: 350px;">
                                </div>
                                <div class="form-outline form-white mb-1">
                                    <label class="form-label mt-2" for="typePasswordX"><b style="color: white;">Mobile number</b></label>
                                    <input type="text" id="mobileNumber" class="numbers form-control-lg"  minlength="10" maxlength="10"
                                        name="mobileNumber" style="border-radius: 100px; background:transparent; color: white; width: 350px;">
                                </div>  



                                <input class="btn btn-outline-light btn-lg px-5 mt-4" type="submit" value="signup" >

                                <p class="mt-4" style="color: white;">Already have an account, <a href="/loginpage">Login</a></p>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('.numbers').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
</script>
<script src="/javascripts/usersignup.js"></script>